# --- Configuración de la App ---
APP_ENV=production
WORKER_COUNT=10
BATCH_SIZE=100 #ELIMINAR DESPUES DE PRUEBAS, PARA NO LIMITAR LA MEMORIA

# --- Base de Datos (Circuitos) ---
DB_HOST=192.168.1.50
DB_PORT=5432
DB_USER=admin_circuits
DB_PASS=SuperSecretPass!
DB_NAME=telecom_inventory

# --- Notion API ---
NOTION_API_KEY=secret_Lk342...
NOTION_DATABASE_ID=8a23...

# --- Zabbix API ---
ZABBIX_URL=http://monitoring.tu-empresa.com/zabbix/api_jsonrpc.php
ZABBIX_USER=api_bot
ZABBIX_PASS=zabbix_secret_123

# Ubersmith
UBERSMITH_URL=https://tu-empresa.ubersmith.com/api/2.0/
UBERSMITH_USER=tu_usuario
UBERSMITH_PASS=tu_token_api